.container {
    max-width: 900px;
    overflow: auto;
}

.description-section {
    flex: 1;
}

.body-section {
    flex: 2;
}

input {
    width: 400px;
}

button[type="submit"] {
    height: 45px;
    margin-top: 15px;
    padding: 0 20px;

    &:focus {
        outline: 0;
        opacity: 0.5;
    }
}

@media (max-width: 1250px) {

    input {
        box-sizing: border-box;
        width: 100%;
    }

    .body-section {
        margin: 30px 100px;
    }

    form {
        text-align: initial;
    }
}

@media (max-width: 645px) {

    .body-section {
        margin: 30px 5%;
    }
}